//__________text
$white-text: #ffffff;
$white-opacity-text: rgba(255, 255, 255, 0.4);
$black-text: #1a1613;
$tomato-text: #ee4f4b;
$red-text: #d64743;
$grey-text: #d7d4d4;
$grey-black-text: #7b7a79;
$grey-opacity-text: rgba(28, 24, 20, 0.6);

//__________background
$black-bg: #1a1613;
$white-bg: #ffffff;
$white-bg-opacity: rgba(255,255,255, 0.87);
$red-bg: #d64743;
$grey-bg: #e5e5e5;

//__________border, line
$grey-line: #bcbbbb;

//__________hover,focus,active

//__________breakpoint
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

//__________retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

